@font-face {
  font-family: noto;
  src: url('../assets/fonts/NotoSansJP-regular.otf');
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: noto;
	/* overflow: hidden; */
}

#container {
	width: 60%;
	margin: 0 auto;
	height: 100%;
	z-index: 1;
	position: relative;
}

#options {
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.training-option {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
	padding: 50px;
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: 2px 2px #ccc;
}

.training-option:hover {
	background: crimson;
	color: #FFF;
}

#question {
	margin-top: 100px;
}

#question-header {
	font-size: 80px;
	text-align: center;
}

.answers {
	display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.answer {
	padding: 50px;
    font-size: 50px;
    border: 1px solid #000;
	border-radius: 5px;
	box-shadow: 2px 2px #ccc;
}

.answer:hover {
	background: crimson;
	color: #FFF;
}

#score {
	position: absolute;
    right: -100px;
    font-size: 40px;
    top: -50px;
}

#flag {
	position: absolute;
	height: 50vw;
	width: 50vw;
	background: #BC002D;
	top: 50vh;
	left: 25vw;
	border-radius: 50%;
	z-index: 0;
}